/* @import 'tailwindcss/base'; */

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	font-family:
		Pretendard,
		-apple-system,
		BlinkMacSystemFont,
		system-ui,
		Roboto,
		'Helvetica Neue',
		'Segoe UI',
		'Apple SD Gothic Neo',
		'Noto Sans KR',
		'Malgun Gothic',
		'Apple Color Emoji',
		'Segoe UI Emoji',
		'Segoe UI Symbol',
		sans-serif;
}

input[type='file'] {
	display: none;
}

.reviewBox {
	@apply relative box-border flex w-[198px] flex-col justify-center gap-1 rounded-r-2xl bg-white px-3 py-3 text-xs;
}

.burger2 {
	@apply flex w-16 flex-row-reverse bg-burgerTrue bg-left bg-no-repeat p-3 text-black;
}

.photo2 {
	@apply flex w-16 flex-row-reverse bg-photoFalse bg-left bg-no-repeat p-3 text-gray-400 active:bg-photoTrue active:text-black;
}

.coverInputTitle {
	@apply h-[46px] w-72 border-b border-contentSecondary bg-transparent font-semibold placeholder:bg-transparent placeholder:text-2xl placeholder:text-white focus:outline-none;
}

.enterButton {
	@apply mr-1 rounded-full border bg-check bg-[center_left_8px] bg-no-repeat px-3 py-2 pl-8 text-right text-xs font-semibold text-white;
}

.activeButton {
	@apply border-0 bg-primary;
}

.coverButton {
	@apply mx-auto mt-[98px] flex w-[136px] cursor-pointer rounded-full border bg-coverPhoto bg-[center_left_12px] bg-no-repeat px-3 py-2 pl-9 text-right;
}

.plusReview {
	@apply mt-3 rounded-[50px] bg-light3 bg-reviewplus bg-[center_left_0.5rem] bg-no-repeat py-3 pl-8 pr-4 text-right text-xs font-semibold text-white;
}

/*재사용*/
.inputBox {
	@apply mb-1 h-[41px] w-[251px] rounded border border-[#609966] px-3 text-xs font-normal placeholder:text-[#609966];
}

.inputIdBox {
	@apply mb-0 h-[41px] w-[251px] rounded border border-[#609966] px-3 text-xs font-normal placeholder:text-[#609966];
}

.inputTitle {
	@apply text-xs font-normal text-[#609966];
}

.loginBtnOff {
	@apply mb-3 h-[54px] w-[251px] rounded-md bg-gray-300  text-xs font-normal text-white;
}

.loginBtnOn {
	@apply mb-3 h-[54px] w-[251px] rounded-md bg-[#609966] text-xs font-normal text-white;
}

.logoImg {
	@apply m-auto mb-[43px] mt-[35px] h-[156px] w-[151px];
}

/*index*/

.indexTitle {
	@apply my-8 text-[28px] font-bold text-[#609966];
}

.indexBtn {
	@apply h-[41px] w-[251px] rounded-md bg-[#609966] text-xs text-white;
}

/*login*/

.loginTitle {
	@apply self-start text-[28px] font-semibold text-[#609966];
}

.emailError {
	@apply hidden px-3 pl-0 text-xs font-normal text-red-600;
}

.invalidEmail {
	@apply block px-3 pl-0 text-xs font-normal text-red-600;
}

.pwdError {
	@apply hidden px-3 pl-0 text-xs font-normal text-red-600;
}

.invalidPwd {
	@apply block px-3 pl-0 text-xs font-normal text-red-600;
}

.membersError {
	@apply hidden px-3 pl-0 text-xs font-normal text-red-600;
}

.invalidMembers {
	@apply block px-3 pl-0 text-xs font-normal text-red-600;
}

.joinBtn {
	@apply h-[54px] w-[251px] rounded-md border border-[#609966] text-xs font-normal text-[#609966];
}

.searchBox {
	@apply mb-7 text-right text-xs font-normal text-[#609966];
}

/*membership*/
.joinMain {
	@apply flex flex-col items-center;
}

.joinTitle {
	@apply self-start text-[28px] font-semibold text-[#609966];
}

.idError {
	@apply hidden px-3 pl-0 text-xs font-normal text-red-600;
}

.invalidId {
	@apply block px-3 pl-0 text-xs font-normal text-red-600;
}

.pwdCheckError {
	@apply hidden px-3 pl-0 text-xs font-normal text-red-600;
}

.invalidPwdCheck {
	@apply block px-3 pl-0 text-xs font-normal text-red-600;
}

/*nav*/
.navImg {
	@apply mx-auto mt-2 h-6 w-6;
}

.navList {
	@apply flex justify-center text-center text-xs font-normal leading-5;
}

/*header*/
.headerTime {
	@apply absolute my-[7px] ml-3 text-base font-semibold;
}

.headerPosition {
	@apply absolute my-[12px] ml-[54px] h-3.5 w-3.5;
}

.headerVector {
	@apply absolute ml-[240px] mt-[16px] h-[10px] w-[12.83px];
}

.headerLte {
	@apply absolute ml-[258px] mt-[13px] text-xs font-semibold;
}

.headerBattery {
	@apply absolute ml-[281px] mt-3 h-[17px] w-5 items-center;
}

.themePageFirstSection {
	@apply relative h-40 w-full bg-primary px-6 pb-5 pt-9 text-xs text-white;
}

.userReviewList {
	@apply flex flex-col border-r pr-3;
}

.profilePhotoEdit {
	@apply absolute bottom-0 right-0 rounded-3xl border-4 border-white bg-white;
}

.coupon {
	@apply absolute right-5 top-4 rounded border p-1;
}

.menuList {
	@apply flex justify-between pt-2 text-center shadow-bottom;
}

.menuListItem {
	@apply h-8 w-1/4 py-1 font-semibold text-notSelect active:text-primary;
}

.menuListItemReview {
	@apply h-8 w-1/4 py-1 font-semibold text-primary;
}
.reviewImage1 {
	@apply h-[184px] w-[140px] rounded-2xl bg-cakeImage bg-cover bg-no-repeat shadow-thumnail;
}

.temporarySave {
	@apply absolute left-3 top-3 rounded bg-white px-1 text-xs font-semibold text-contentSecondary;
}

.thumnailImage1 {
	@apply h-[42px] w-[42px] rounded bg-coffee bg-cover;
}

.thumnailImage2 {
	@apply h-[42px] w-[42px] rounded bg-sakura bg-cover;
}

.reviewImage2 {
	@apply flex h-[184px] w-[148px] flex-col items-center justify-center rounded-2xl bg-thumnailBg bg-cover bg-no-repeat shadow-thumnail;
}

.myReview {
	@apply mt-3 text-center text-xs font-semibold text-gray-400;
}

.burger {
	@apply flex w-16 flex-row-reverse bg-burgerFalse bg-left bg-no-repeat p-3 text-gray-400 active:bg-burgerTrue active:text-black;
}

.photo {
	@apply flex w-16 flex-row-reverse bg-photoTrue bg-left bg-no-repeat p-3;
}

.listSize {
	@apply relative mb-2 h-36 w-[140px] rounded-xl px-2;
}

.listHidden {
	@apply hidden;
}

.bookMark {
	@apply absolute right-2 top-2 h-5 w-4;
}

.reviewImg {
	@apply absolute right-0 top-0 h-36 w-[140px] rounded-xl;
}

.reviewLink {
	@apply block h-[140px] w-[140px] pt-20 font-semibold text-white;
}

.reviewPlace {
	@apply absolute bottom-10 left-2 text-xs;
}

.reviewName {
	@apply absolute bottom-4 left-2 text-base;
}

.input {
	@apply h-[46px] w-[272px] border-b border-contentSecondary bg-transparent focus:outline-none;
}

.coverButton {
	@apply mx-auto mt-[89px] flex rounded-full border bg-coverPhoto bg-[center_left_12px] bg-no-repeat px-3 py-2 pl-9 text-right;
}

.coverButtonMap {
	@apply ml-auto mr-4 flex rounded-full border bg-subwayWhite bg-[center_left_12px] bg-no-repeat px-3 py-2 pl-9 text-right text-sm text-white;
}

.themeEnterButton {
	@apply rounded-full border bg-check bg-[center_left_8px] bg-no-repeat px-3 py-2 pl-8 text-right text-xs font-semibold text-white;
}

.activeThemeEnterButton {
	@apply rounded-full bg-light3  bg-check bg-[center_left_8px] bg-no-repeat px-3 py-2 pl-8 text-right text-sm font-semibold text-white;
}

.editButton {
	@apply w-full rounded-full bg-light3 bg-pencil bg-[center_left_104px] bg-no-repeat py-2 pl-6 text-sm font-semibold text-white;
}

.arrowRghtButton {
	@apply ml-2 h-[30px] w-[30px] bg-arrowBlack;
}

.heartButton1 {
	@apply absolute bottom-9 right-6 h-[30px] w-[30px] items-center bg-heartFalse bg-[center] bg-no-repeat;
}

.heartButton2 {
	@apply absolute bottom-9 right-6 h-[30px] w-[30px] items-center bg-heartTrue bg-[center] bg-no-repeat;
}

.menuEnroll {
	@apply sticky top-[40px] z-10 flex items-center justify-between px-4 pb-4 pt-4;
}

.menuEnrollActive {
	@apply sticky top-[40px] z-10 flex items-center justify-between bg-white px-4 pb-4 pt-4;
}

.navWidth {
	@apply h-[57px] w-[66px];
}

.selectNavImg {
	@apply h-[57px] w-[66px] border-t-2 border-primary font-semibold text-primary;
}

.enroll__list {
	@apply relative px-2 pb-4 drop-shadow-sm;
}

.Enroll__number {
	@apply mb-2 flex flex-row;
}

.enroll__number {
	@apply ml-1 mt-2 text-xs font-medium text-[#70AF76];
}

.Enroll__img {
	@apply h-[232px] overflow-hidden;
}

.enroll__img {
	@apply w-full rounded-t-lg;
}

.enroll__text {
	@apply block h-[50px] w-[214px] overflow-hidden whitespace-normal;
}

.enroll__time {
	@apply bg-white px-8 py-4 text-center text-xs;
}

.enroll__time__p {
	@apply mb-1.5 mt-2 font-medium text-light3;
}

.enroll__time__tag {
	@apply m-0.5 rounded-md border border-light3 p-0.5 text-xs font-medium text-light3;
}

.enroll__tag {
	@apply my-2 flex flex-row justify-center gap-1 text-xs text-slate-500;
}

.enroll__tag__p {
	@apply flex rounded-md bg-slate-50 px-1.5 py-0.5;
}

.enroll__tag__p__img {
	@apply mb-1 mr-1 inline-block;
}

.Enroll__title {
	@apply border-t-2 border-dotted border-slate-300 bg-white px-4 py-3;
}

.enroll__zig {
	@apply -mt-1 flex items-center;
}

.enroll__zag {
	@apply flex flex-row-reverse;
}

.selectNavImg {
	@apply h-[57px] w-[66px] border-t-2 border-primary font-semibold text-primary;
}

.navWidth {
	@apply h-[57px] w-[66px];
}

.callButton {
	@apply absolute right-[10px] top-[10px];
}

.reviewContent {
	@apply relative mb-3 flex h-[92px] cursor-pointer list-none;
}

.figureSize {
	@apply h-[92px] w-[92px] rounded-l-2xl;
}

.reviewDetail {
	@apply truncate;
}

.reviewTitle {
	@apply font-semibold;
}

/* jin */

.coverInputSub {
	@apply mt-3 h-6 w-72 resize-none overflow-hidden border-b border-contentSecondary bg-transparent text-xs placeholder:text-xs placeholder:text-contentTeriary focus:outline-none;
}

.inputForm {
	@apply relative mx-auto mt-8 flex min-h-screen max-w-xs flex-col;
}

input[type='file'] {
	display: none;
}

.headingBox {
	@apply fixed left-1/2 top-10 flex w-full max-w-xs -translate-x-1/2 items-center justify-between bg-transparent p-2;
}

.coverImg {
	@apply absolute -z-[1] h-[400px] w-full object-cover text-center;
}

.coverBg {
	@apply bg-gray7;
}

.scrollheading {
	@apply bg-gray7 duration-150 ease-in;
}

.plusBox {
	@apply -mt-[46px] rounded-t-xl bg-white px-[22px] pb-20 pt-[18px];
}

.formBox {
	@apply flex h-[330px] flex-col px-4 pb-96 pt-16 text-white;
}

.navWidth {
	@apply h-[57px] w-[66px];
}

.selectNavImg {
	@apply h-[57px] w-[66px] border-t-2 border-primary font-semibold text-primary;
}

.callButton {
	@apply absolute right-[10px] top-[10px];
}

.reviewContent {
	@apply relative mb-3 flex h-[92px] cursor-pointer list-none;
}

.figureSize {
	@apply h-[92px] w-[92px] rounded-l-2xl;
}

.reviewDetail {
	@apply truncate;
}

.reviewTitle {
	@apply font-semibold;
}

/* jin */

.coverInputSub {
	@apply mt-3 h-6 w-72 resize-none overflow-hidden border-b border-contentSecondary bg-transparent text-xs placeholder:text-xs placeholder:text-contentTeriary focus:outline-none;
}

.inputForm {
	@apply relative mx-auto mt-8 flex min-h-screen max-w-xs flex-col;
}

input[type='file'] {
	display: none;
}

.headingBox {
	@apply fixed left-1/2 top-10 flex w-full max-w-xs -translate-x-1/2 items-center justify-between bg-transparent p-2;
}

.coverImg {
	@apply absolute -z-[1] h-[400px] w-full object-cover text-center;
}

.coverBg {
	@apply bg-gray7;
}

.scrollheading {
	@apply bg-gray7 duration-150 ease-in;
}

.plusBox {
	@apply -mt-[46px] rounded-t-xl bg-white px-[22px] pb-20 pt-[18px];
}

.formBox {
	@apply flex h-[330px] flex-col px-4 pb-96 pt-16 text-white;
}

.navWidth {
	@apply h-[57px] w-[66px];
}

.selectNavImg {
	@apply h-[57px] w-[66px] border-t-2 border-primary font-semibold text-primary;
}
.heartButton1 {
	@apply absolute bottom-9 right-6 h-[30px] w-[30px] items-center bg-heartFalse bg-[center] bg-no-repeat;
}

.heartButton2 {
	@apply absolute bottom-9 right-6 h-[30px] w-[30px] items-center bg-heartTrue bg-[center] bg-no-repeat;
}

.navWidth {
	@apply h-[57px] w-[66px];
}

.selectNavImg {
	@apply h-[57px] w-[66px] border-t-2 border-primary font-semibold text-primary;
}

.enroll__list {
	@apply relative pb-4 drop-shadow-sm;
}

.Enroll__number {
	@apply mb-2 flex flex-row;
}

.enroll__number {
	@apply ml-1 mt-2 text-xs font-medium text-[#70AF76];
}

.Enroll__img {
	@apply h-[232px] overflow-hidden;
}

.enroll__img {
	@apply w-full rounded-t-lg;
}

.enroll__time {
	@apply bg-white px-8 py-4 text-center text-xs;
}

.enroll__time__p {
	@apply mb-1.5 mt-2 font-medium text-light3;
}

.enroll__time__tag {
	@apply m-0.5 rounded-md border border-light3 p-0.5 text-xs font-medium text-light3;
}

.enroll__tag {
	@apply my-2 flex flex-row justify-center gap-1 text-xs text-slate-500;
}

.enroll__tag__p {
	@apply flex rounded-md bg-slate-50 px-1.5 py-0.5;
}

.enroll__tag__p__img {
	@apply mb-1 mr-1 inline-block;
}

.Enroll__title {
	@apply border-t-2 border-dotted border-slate-300 bg-white px-4 py-3;
}

.enroll__zig {
	@apply -mt-1 flex items-center;
}

.enroll__zag {
	@apply flex flex-row-reverse;
}

.selectNavImg {
	@apply h-[57px] w-[66px] border-t-2 border-primary font-semibold text-primary;
}

.navWidth {
	@apply h-[57px] w-[66px];
}

.reviewAll__count {
	@apply ml-1 text-info;
}
